<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
    </head>
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <!-- We will use sessions to eventually modify this text based on if user is logged in or not.
             User will see a thank you message if they are logged in.
             User will see a thank for showing interest in our survey message if not. -->
            <% if (message) { %>
                <p><%= message %></p>
            <% } else{ %>
                <p>Thank you for completing the survey! Your responses have been recorded.</p>
            <% } %>           
            <hr>
            <h1>Overall Survey Results:</h1>
            <p>Here are some overall statistics from all survey respondents:</p>
            <h2><u>Interesting Statistics We Found:</u></h2>
            <ul>
                <% if (mostCommonAge != null) { %>
                    <li><b>Most Common Age to start gaming:</b> <%= mostCommonAge %></li>
                <% } %>
                <% if (mostCommonHours != null) { %>
                    <li><b>Most Common Hours Spent Gaming per week:</b> <%= mostCommonHours %></li>
                <% } %>
                <% if (mostCommonGameDev != null) { %>
                    <li><b>Do People Who Play Video Games get involved in Game Development?:</b> <%= mostCommonGameDev %></li>
                <% } %> 
                <% if (percentagePlayingRoblox != null) { %>
                    <li><b>Percentage of Survey Respondents who play Roblox:</b> <%= percentagePlayingRoblox.toFixed(2) %>%</li>
                <% } %>   
            </ul>
        </section>
    </body> 
</html>